/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */

/*
Colors:
#072B5C dark blue
#2092C0 mid blue
#35B5DE light blue
#F2C02B light yellow
#F29F37 mid yellow
*/

body {
  font-size: 19px;
  line-height: 1.5;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: black;
}

img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #2092C0;
  display: block;
}

a {
  color: #2092C0;
}
a:hover {
  color: #35B5DE;
}

b {
  font-weight: bold;
}

header {
  min-height: 90px;
  background-color: #35B5DE;
  color: white;
}

header .container {
  padding-top: 20px;
}

header a, header a:hover {
  color: white;
}

header h1 {
  font-size: 48px;
  margin-bottom: 0px;
  line-height: 1em;
  color: white;
}

header h2 {
  font-size: 24px;
  color: white;
  font-weight: normal;
  line-height: 1.3;
}

.content {
  background-color: white;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 16px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #272822;
  color: #f2f2f2;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #272822;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}

/* COMMON STYLES */

hr {
  border: none;
  border-top: 2px solid #2092C0;
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  color: #072B5C;
  margin-bottom: 14px;
  margin-top: 34px;
}

h1 {
  font-size: 40px;
} 

h2 {
  font-size: 29px;
  font-weight: bold;
} 

h3 {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
} 
 
h4 {
  font-size: 16px;
  font-weight: bold;
} 

h5 {
  font-size: 1em;
} 

h6 {
  font-size: .8em;
} 

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* custom */

.alert.warning {
  color: #613A00;
  background-color: #FFE3C8;
  border: 1px solid #DCA874;
}

.alert {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  padding-bottom: 0px;
  color: #264C72;
  border: 1px solid #97C1DA;
  border-radius: 15px;
  background-color: #D8EBF8;
}

footer {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  padding-bottom: 15px;
  color: #264C72;
  border: 1px solid #97C1DA;
  border-radius: 15px;
  background-color: #D8EBF8;

  font-size: 14px;
}

/* #Media Queries
================================================== */

/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container {
    width: auto;    
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 600px;    
  }
}

@media (min-width: 979px) {
  .container {
    width: 900px;
  }
}
